@font-face {
    font-family:coolvetica;
    src: url(../coolvetica\ rg.otf);
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/1805-color-pastel.jpg);
    height: 100vh;
    /*overflow: hidden;*/
  }

*{
    font-family: "Poppins", sans-serif;
  font-size: small;
  color: #545454;
}

.conteinerC{
    align-items: center;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 40px;
}

.cartLeft{
    width: 750px;
    height: fit-content;
    float: left;
    margin: 30px;
    align-items: center;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 50px;


}

.cartRight{
    width: 550px;
    height: 670px;
    float: left;
    margin: 30px;
    margin-top: 0;
}

img{ 
    width: 150px;
}



.detailsContainer{
    margin-top: 40px;
    margin-left: 15px;
    height: 610px;
    background-color: white;
    border-radius: 15px;
    padding: 35px;
}



/*radio buttons style*/



input[type="radio"]{
    display: none;
}

label{
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 6px;
}

label span{
    display: inline-flex;
    align-items: center;
    padding: 7px 15px 7px 7px;
    border-radius: 31px;
    transition: .25s ease;
}

label span:hover,
input[type="radio"]:checked + span{
    background-color: #e9deee;
}

label span:before{
    content: "";
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
    transition: .25s ease;
    box-shadow:  inset 0 0 0 2px #864283;
}

input[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 10px #864283;
}


h1{
    font-family:coolvetica;
    color: white;
    width: fit-content;
    display: flex;
    float: right;
}

/*carrito cards

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-bosx;
}*/

img{
    width: 100%;
}

.blog-post{
    width: 100%;
    max-width: 60rem;
    padding: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-bottom: 10px;
}

.blog-post_img{
    min-width: 11.6rem;
    max-width: 11.6rem;
    height: 8.2rem;
    transform: translateX(-3rem);
    position: relative;
}

.blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post_img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}


.blog-post_title{
    font-size: 1.6rem;
    margin: 0rem 0rem 1rem;
    text-transform: uppercase;
    color: #545454;
    float: left;
}

.blog-post_text{
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    color: rgba(0,0,0,.7);
    
    
}

.blog-post_cta{
    display: inline-block;
    padding: 0.6rem 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
    background-image: linear-gradient(to right, rgba(250, 192, 222, 0.8) 0%, rgba(248, 156, 203, 0.8) 100%);
    border-radius: .8rem;
    text-decoration: none;
    border: none;
    outline: none;
}

